<?xml version="1.0"?>
<!DOCTYPE
        hibernate-configuration
        PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"
        >
<hibernate-configuration>
    <session-factory>
        <!-- Driver and dialect -->
        <property name="connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Database connection settings -->
        <property name="connection.url">
            jdbc:mysql://localhost/medly_db?createDatabaseIfNotExist=true
        </property>
        <property name="connection.username">medly_user</property>
        <property name="connection.password">medlyisgreat</property>

        <!-- Development settings -->
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- DB schema will be updated if needed -->
        <property name="hbm2ddl.auto">update</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>

        <!-- Add mapped classes here -->
        <mapping class="com.medman.models.User"/>
        <mapping class="com.medman.models.Role"/>
        <mapping class="com.medman.models.Prescription"/>
        <mapping class="com.medman.models.AppointmentTime"/>
        <mapping class="com.medman.models.Reminder"/>


        <!-- ... -->
    </session-factory>

</hibernate-configuration>