<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="/fragments/header :: header(${'Dashboard'})">
</head>
<body>

<div th:fragment="alertsCard">
    <div class="card cardSpace medium hoverable col m3">
        <div class="card-image waves-effect waves-block waves-light center-align">
            <i class="activator material-icons large dash-icons">error</i>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4 center-align">Alerts<i class="material-icons right">more_vert</i></span>
            <div class="divider"></div>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div>
</div>

</div><!--contact card-->



</body>
</html>