<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="/fragments/header :: header(${'Dashboard'})">
</head>
<body>

<div th:fragment="appointmentForms">
    <!-- Modal Structure -->
    <div id="addAppointment" class="modal">
        <div class="modal-content">
            <h4>Add Reminder</h4>
            <form name="addReminderForm" id="addReminderForm" th:action="@{/addAppointment}" th:method="POST" th:object="${appointment}">
                <div class="input-field">
                    <i class="material-icons prefix">add_alert</i>
                    <label for="nameReminder">Name</label>
                    <input data-error=".nameReminder" type="text" id="nameReminder" name="nameReminder" th:field="*{name}" />
                    <div class="nameReminder valError"></div>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">event</i>
                    <label for="appointmentDate">Date</label>
                    <input type="date" class="datepicker" id="appointmentDate" th:field="*{appointmentDate}" />
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">note_add</i>
                    <label for="notes">Notes</label>
                    <textarea class="materialize-textarea" id="notes" th:field="*{notes}"></textarea>
                </div>
                <div class="modal-footer">
                    <button id="addAppointmentSubmit"  type="submit" class="btn btn-info">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>