<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="/fragments/header :: header(${'Dashboard'})">
</head>
<body>

<div th:fragment="appointmentForms">
    <!-- Modal Structure -->
    <div id="addAppointment" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Add Reminder</h4>
            <form name="addAppointmentForm" id="addAppointmentForm" th:action="@{/addAppointment}" th:method="POST" th:object="${appointment}">
                <div class="input-field">
                    <label for="name">Name this Reminder</label>
                    <input type="text" class="validate" id="name" th:field="*{name}" />
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>
                <div class="input-field">
                    <label for="appointmentDate">Reminder Date</label>
                    <input type="date" class="validate datepicker" id="appointmentDate" th:field="*{appointmentDate}" />
                    <p th:if="${#fields.hasErrors('appointmentDate')}" th:errors="*{appointmentDate}"></p>
                </div>
                <div>
                    <label for="appointmentTime">Appointment Time</label>
                    <input type="time" class="validate" id="appointmentTime" th:field="*{appointmentTimes}" />
                    <p th:if="${#fields.hasErrors('appointmentTimes')}" th:errors="*{appointmentTimes}"></p>
                </div>
                <div class="input-field">
                    <label for="notes">Notes:</label>
                    <textarea class="materialize-textarea" id="notes" th:field="*{notes}"></textarea>
                    <p th:if="${#fields.hasErrors('notes')}" th:errors="*{notes}"></p>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button id="addAppointmentSubmit"  type="submit" class="btn btn-info">Add</button>
        </div>
    </div>
</div>


</body>
</html>