<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="/fragments/header :: header(${'Dashboard'})">
</head>
<body>

<div th:fragment="appointmentForms">
    <!-- Modal Structure -->
    <div id="addAppointmentForm" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Add Appointment</h4>
            <form name="addAppointment" id="addAppointment" th:action="@{/addAppointment}" th:method="POST" th:object="${appointment}">
                <div class="form-group">
                    <label for="name">Name this appointment:</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}" />
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>
                <div class="form-group">
                    <label for="appointmentDate">Appointment date and time:</label>
                    <input type="datetime-local" class="form-control" id="appointmentDate" th:field="*{appointmentDate}" />
                    <p th:if="${#fields.hasErrors('appointmentDate')}" th:errors="*{appointmentDate}"></p>
                </div>
                <div class="form-group">
                    <label for="notes">Notes:</label>
                    <input type="text" class="form-control" id="notes" th:field="*{notes}" />
                    <p th:if="${#fields.hasErrors('notes')}" th:errors="*{notes}"></p>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit"  class="btn btn-primary">Save appointment</button>
            </form>
        </div>
        <div class="modal-footer">
            <button id="addAppointmentForm"  type="submit" class="btn btn-info">Add</button>
        </div>
    </div>
</div>


</body>
</html>