<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="/fragments/header :: header(${'Dashboard'})">
</head>
<body>

<div th:fragment="editLoginCredForm">

    <!-- Modal Structure -->
    <div id="editLoginCred" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Edit Login Information</h4>
            <form name="editLoginCredForm" id="editLoginCredForm" th:action="@{/editLoginCred}" method="post" th:object="${user}">
                <div class="input-field">
                    <label for="username">Desired Username:</label>
                    <input type="text" class="form-control" id="username" th:field="*{username}"  />
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                </div>
                <div class="input-field">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" th:field="*{password}"  />
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button id="editLoginCredSubmit"  type="submit" class="btn btn-info">Add</button>
        </div>
    </div>
</div>

</body>
</html>