<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<div id="footer" th:fragment="footer" >
    <div class="horizontal_line col-md-10 col-md-offset-1 row"></div>
        <div class="col-md-offset-1 col-md-2">
            <h5><a id="aboutLink" th:href="@{/about}">About</a></h5>
            <i id="twitterIcon" class="fa fa-twitter fa-2x" aria-hidden="true"></i>
            <i id="facebookIcon" class="fa fa-facebook fa-2x" aria-hidden="true"></i>
        </div>
        <div class="row">
            <h5 class="col-md-offset-10"><a id="siteMap" href="#">Site Map</a></h5>
        </div>
</div>



</body>
</html>