<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="header(title)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}"></title>
    <meta name="google-site-verification" content="BAy0KSJMv0xhu7aLNad_lFhbkUUtSP1sqzSdJGqt32Q" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="../../CSS/datedropper.css" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet" />
    <link rel="stylesheet" media="screen" th:href="@{../../CSS/stylesheet.css}" />



</head>


<body>

</body>
</html>