<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<div th:fragment="javascript">
    <script src="https://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="https://use.fontawesome.com/54bf161b9f.js"></script>
    <script src="https://cdn.jsdelivr.net/places.js/1/places.min.js"></script>
    <script type="text/javascript" src="https://conversational-form-0iznjsw.stackpathdns.com/conversational-form.min.js" crossorigin="anonymous"></script>
    <script src="../../JS/datedropper.js"></script>
    <script src="../../JS/timeOfDay.js"></script>
    <script src="../../JS/todaysDate.js"></script>
    <script src="../../JS/logout.js"></script>
    <script src="../../JS/featureDeatil.js"></script>
    <script src="../../JS/loginValidation.js"></script>
    <script src="../../JS/dateDropdown.js"></script>
    <script src="../../JS/algoliaPlaces.js"></script>
    <script src="../../JS/conversationForm.js"></script>
    <script src="../../JS/dropdownMenu.js"></script>
    <script src="../../JS/formSubmission.js"></script>




</div>


</body>
</html>