<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="/fragments/header :: header(${'Dashboard'})">
</head>
<body>


<div th:fragment="medicationForms">

    <!-- Modal Structure -->
    <div id="addMedication" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Add a Medication</h4>
            <form name="addPrescriptionForm" id="addPrescriptionForm" th:action="@{/addPrescription}" method="post" th:object="${prescription}">
                <div class="input-field col s6">
                    <label for="prescriptionName">Name of Medication:</label>
                    <input type="text" class="validate" id="prescriptionName"
                           th:field="*{name}"/>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>
                <div class="input-field col s6">
                    <label for="prescribedDate">Prescribed Date:</label>
                    <input type="date" class="validate datepicker" id="prescribedDate"
                           th:field="*{prescribedDate}"/>
                    <p th:if="${#fields.hasErrors('prescribedDate')}" th:errors="*{prescribedDate}"></p>
                </div>
                <div class="input-field col s6">
                    <label for="strength">Strength:</label>
                    <input type="text" class="validate" id="strength" th:field="*{strength}"/>
                    <p th:if="${#fields.hasErrors('strength')}" th:errors="*{strength}"></p>
                </div>
                <div class="input-field col s6">
                    <label for="sig">Directions:</label>
                    <input type="text" class="validate" id="sig"
                           placeholder="Take 1 tablet by mouth twice a day for thirty days."
                           th:field="*{sig}"/>
                    <p th:if="${#fields.hasErrors('sig')}" th:errors="*{sig}"></p>
                </div>
                <div class="input-field col s6">
                    <label for="daySupply">Day Supply:</label>
                    <input type="text" class="validate" id="daySupply" placeholder="30"
                           th:field="*{daySupply}"/>
                    <p th:if="${#fields.hasErrors('daySupply')}" th:errors="*{daySupply}"></p>
                </div>
                <div class="input-field col s6">
                    <label for="prescribedQuantity">Prescribed Quantity:</label>
                    <input type="text" class="validate" id="prescribedQuantity" th:field="*{prescribedQuantity}"/>
                    <p th:if="${#fields.hasErrors('prescribedQuantity')}" th:errors="*{prescribedQuantity}"></p>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button id="addMedicationButton"  type="submit" class="btn btn-info">Add</button>
        </div>
    </div>
</div>






<!--&lt;!&ndash;Add Medication Form/Modal&ndash;&gt;-->
<!--<div class="modal fade" id="addMedication" tabindex="-1" role="dialog" aria-labelledby="medicationCardLabel" th:fragment="medicationForms">-->
    <!--<div class="modal-dialog" role="document">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span-->
                        <!--aria-hidden="true">&times;</span></button>-->
                <!--<h4 class="modal-title" id="medicationCardLabel">Add a medication</h4>-->
            <!--</div>-->
            <!--<div class="modal-body">-->

            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


</body>
</html>