<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <!--On mobile display, icon appears in the right of the navbar to show dropdown menu-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <i class="nav navvar-nav navbar-center fa fa-medkit fa-3x logoIcon" aria-hidden="true"></i>
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            </button>
            <!--<a class="navbar-brand" href="#">Brand</a>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <!--Dropdown-Menu -->
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars" aria-hidden="true"></i>   Menu</a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/create}">Sign-up</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/about}">About</a></li>
                    </ul>
                </li>
            </ul>

            <!--Medly logo-->
            <a th:href="@{/}"><i class="nav navbar-brand fa fa-medkit fa-2x" aria-hidden="true"></i></a>


            <!--Login link. Only shows to users not logged in-->
            <div sec:authorize="!isAuthenticated()">
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/login}">Login</a></li>
                </ul>
            </div>



            <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" sec:authentication="principal.firstName"><i class="fa fa-smile-o" aria-hidden="true"></i>   User</a>

                    <ul class="dropdown-menu">
                        <li><a th:href="@{/dashboard}">Dashboard</a></li>
                        <li role="separator" class="divider"></li>
                        <li sec:authorize="hasRole('PATIENT')"><a th:href="@{/my_doctors}">Doctors</a></li>
                        <li sec:authorize="hasRole('DOCTOR')"><a th:href="@{/my_doctors}" >Patients</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/messages}">Messages</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/edit}">Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/logout}" id="logout_link">Logout</a></li>
                    </ul>

                </li>
            </ul>

            <form name="logout_form" id="logout_form" method="post" th:action="@{/logout}">
                <input type="hidden" name="perform_logout" value="1" />
            </form>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


</body>
</html>