<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-default" th:fragment="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Blog</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/posts}">Posts<span class="sr-only"></span></a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" />
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

                <li sec:authorize="!isAuthenticated()">
                <li><a th:href="@{/login}"><i class="fa fa-sign-in" aria-hidden="true"></i>  Login</a></li>
                <li><a th:href="@{/register}"><i class="fa fa-user-plus" aria-hidden="true"></i>  Sign-up</a></li>
                </li>



                <li class="dropdown" sec:authorize="isAuthenticated()">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" sec:authentication="principal.username">User<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a th:href="@{/post/create}">New Post</a></li>
                        <li class="divider"></li>
                        <li><a th:href="@{/logout}" id="logout_link">Logout</a></li>
                    </ul>
                </li>

            </ul>

            <form name="logout_form" id="logout_form" method="post" th:action="@{/logout}">
                <input type="hidden" name="perform_logout" value="1" />
                <!--<li><a><input type="submit" value="Logout" id="perform_logout_button" />Logout</a></li>-->
            </form>

        </div>
    </div>
</nav>







</body>
</html>