<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<div th:fragment="navbar">
    <div class="nav-fixed">
        <ul id="dropdown1" class="dropdown-content">
            <li sec:authorize="!isAuthenticated()"><a th:href="@{/create}">Sign-up</a></li>
            <li class="divider"></li>
            <li><a th:href="@{/about}">About</a></li>
        </ul>
        <ul id="loggedInContent" class="dropdown-content">
            <li><a th:href="@{/dashboard}">Dashboard</a></li>
            <li class="divider"></li>
            <li sec:authorize="hasRole('PATIENT')"><a th:href="@{/my_doctors}">Doctors</a></li>
            <li sec:authorize="hasRole('DOCTOR')"><a th:href="@{/my_doctors}" >Patients</a></li>
            <li class="divider"></li>
            <li><a th:href="@{/messages}">Messages</a></li>
            <li class="divider"></li>
            <li class="disabled"><a th:href="@{/edit}">Settings</a></li>
            <li class="divider"></li>
            <li><a th:href="@{/logout}" id="logout_link">Logout</a></li>
        </ul>
        <ul class="side-nav" id="mobileMenuIn">
            <li><a th:href="@{/dashboard}">Dashboard</a></li>
            <li sec:authorize="hasRole('PATIENT')"><a th:href="@{/my_doctors}">Doctors</a></li>
            <li sec:authorize="hasRole('DOCTOR')"><a th:href="@{/my_doctors}" >Patients</a></li>
            <li><a th:href="@{/messages}">Messages</a></li>
            <li class="disabled" ><a th:href="@{/edit}">Settings</a></li>
            <li><a th:href="@{/logout}" id="logout_link_side">Logout</a></li>
        </ul>
        <ul class="side-nav" id="mobileMenuOut" >
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/create}">Sign up</a></li>
            <li><a th:href="@{/about}">About</a></li>
        </ul>
        <div class="navbar-fixed">
            <nav class="light-blue darken-2">
                <div class="nav-wrapper">
                    <a href="#" data-activates="mobileMenuOut" class="button-collapse" sec:authorize="!isAuthenticated()"><i class="material-icons">menu</i></a>
                    <a href="#" data-activates="mobileMenuIn" class="button-collapse" sec:authorize="isAuthenticated()" sec:authentication="principal.firstName"><i class="material-icons">menu</i></a>
                    <a th:href="@{/}" class="brand-logo center"><img id="logo" th:src="@{../img/shutterstock_455489371.png}" /></a>
                    <ul class="left hide-on-med-and-down">
                        <li><a class="dropdown-button"  data-activates="dropdown1"><i class="material-icons">menu</i></a></li>
                    </ul>
                    <ul class="right hide-on-med-and-down" sec:authorize="!isAuthenticated()">
                        <li><a th:href="@{/login}">Login</a></li>
                    </ul>
                    <ul class="right hide-on-med-and-down" sec:authorize="isAuthenticated()">
                        <li><a href="#" class="dropdown-button" data-activates="loggedInContent" sec:authentication="principal.firstName"></a></li>
                    </ul>
                </div>
                <form name="logout_form" id="logout_form" method="post" th:action="@{/logout}">
                    <input type="hidden" name="perform_logout" value="1" />
                </form>
            </nav>
        </div>
    </div>
</div>

</body>
</html>