<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="/fragments/header :: header(${'Dashboard'})">
</head>
<body>


<!--Upcoming Card-->
<div id="contactCard" class="col-md-4 card" th:fragment="upcomingCard">

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title text-center" id="todaysDate">Date</h3>
        </div>
        <div class="list-group">

            <a class="list-group-item" data-toggle="modal" data-target="#addAppointment" href="#">
                <h4 class="list-group-item-heading"><i class="fa fa-calendar-o appointmentIcon"
                                                       aria-hidden="true"></i>Appointments</h4>

                <div th:each="appointment : ${appointmentTimes}" >
                    <div class="list-group">
                        <h5 th:text="*{name} + ' ' + *{appointmentDate}"></h5>
                    </div>
                </div>
            </a>

            <a class="list-group-item" data-toggle="modal" data-target="#addReminder" href="#">
                <h4 class="list-group-item-heading"><i class="fa fa-clock-o remindersIcon"
                                                       aria-hidden="true"></i>Reminders</h4>
                <div th:each="reminder : ${reminders}" >
                    <div class="list-group">
                        <h5 th:text="*{reminder} + ' ' + *{reminderDate}"></h5>
                    </div>
                </div>
            </a>

        </div>
    </div>

</div><!--contact card-->


</body>
</html>