body{
    background-color: white;
    display: flex;
    min-height:100vh;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    flex: 1 0 auto;
}

#splashTopImage{
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 48%;
    background-size: 100%;
    box-shadow: 5px 5px 5px #e0dad1;
}

h1{
    font-family: 'Work Sans', sans-serif;
}


#splashBottomImage{
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background-size: 100%;
    opacity: 0.8;
    box-shadow: 5px 5px 5px #e0dad1;
}

.parallax-container img {
    top: -30%;
    bottom: -29%;
}

.circleFeature{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    line-height: 90px;
    margin: 5%;

}

#additionalFeatures{
    margin-top:5%;
    margin-bottom: 3%;
}
.centerIcon {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
[class^="fa-"], [class*=" fa-"] {
    display: inline-block;
    width: 100%;
}

.trashIcon{
    color: #e7474a !important;
}

.messageIcon{
    color: #4db3d6 !important;
}
.alertIcon{
    color: #d6484a !important;
}
.addMedicine{
    color: #51d66b !important;
}
.appointmentIcon{
    color: #dac773 !important;
}
.remindersIcon{
    color: #a997da !important;
}
.patientLogo{
    color: #d6484a !important;
}
.logoIcon{
    color: #afb3b0;
}
#facebookIcon{
    color: #878e87;
    float: left !important;
}
#twitterIcon{
    color: #878e87;
}

#moreInfo{
    margin-top: 10%;
    box-shadow: 5px 5px 5px #e0dad1;
    display: none;
}

.iconFooter{
    margin-right: 2%;
    margin-left: 2%;
}

#messageHistory{
    height:400px;
    overflow: scroll;
}


#alertMessage{
    display: hidden;
}

.infoCard{
    box-shadow: 5px 5px 5px #e0dad1;
}

#logo{
    padding-top: 7px;
}

.cardSpace{
    margin-left: 6% !important;
    overflow: visible !important;
    height: inherit !important;
}

.dash-icons{
    padding-top: 7%;
}

.cardSegment{
    margin-bottom: 5%;
}



.addButton{
    right: -8%;
    position: absolute;
    top: -6%;
}

.alertLink{
    color: #fa5b53;
}
#homeTitle h6{
    font-family: 'Work Sans', sans-serif;
}

#medicationFeatureIcon{
    color: #6dc7ec;
}
#reminderFeatureIcon{
    color: #f1b4b0;
}
#alertFeatureIcon{
    color: #b6c2e0;
}

#signupContainer h3{
    font-family: 'Work Sans', sans-serif;
}

#additionalFeatures h3,h5{
    font-family: 'Work Sans', sans-serif;
}

.btn-small{
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
}

.medicineList{

    margin-top: 5%;
}

.btn{
    background-color: #0275c7;
}

#signupContainer{
    margin-top: 2%;
    margin-bottom: 2%;
}

#loginButton{
    margin-bottom: 2%;
}

#loginTop{
    margin-bottom: 3%;
}

.input-field .prefix.active {
    color: #0f73c9;
}

.valError{
    color: #c95254;
}

.warning{
    color: #c95254;
}
#upcomingCard .divider{
    margin-bottom: 3%;
}

@media screen and (max-width: 992px) {
    #aboutLink {
        margin-left: 5%;
    }
    .card{
        width: 80%;
        left: 5%;
    }
}

@media screen and (max-width: 601px) {
    #logo {
        padding-top: 4%;
    }

}
