nav {
    margin-bottom: 0 !important;
}

#splashImageContainer{
    height: 20%;
    width: 100%;
}

#testimonyContainer{
    width: 100%;
    height: 25%;
}

.horizontal_line{
    border-bottom: #646464 1px solid;
}

#footer{
    background-color: #f6f6f6;
    height: 100%;
}

#pictureDiv{
    height: 200px;
    border: gray 1px;
    background-color: ghostwhite;
}
.spaceBelow{
    margin-bottom: 5px;
}

.trashIcon{
    color: #e7474a !important;
}

.messageIcon{
    color: #4db3d6 !important;
}
.alertIcon{
    color: #d6484a !important;
}
.addMedicine{
    color: #51d66b !important;
}
.appointmentIcon{
    color: #dac773 !important;
}
.remindersIcon{
    color: #a997da !important;
}
.facebookIcon{
    color: #afb3b0;
    padding: 1%;
}
.twitterIcon{
    color: #afb3b0;
    padding: 1%;
}
.patientLogo{
    color: #d6484a !important;
}
.logoIcon{
    color: #afb3b0;
}


.card{
    box-shadow: #dadad7 5px 5px 5px;
}

#aboutLink{
    color: black;
}

#messageHistory{
    height:400px;
    overflow: scroll;
}
