<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="/fragments/header :: header(${'About'})">
</head>
<body>

<!--Navbar-->
<div th:replace="/fragments/navbar :: navbar"></div>

<div class="col-md-10 col-md-offset-1">
    <div class="col-md-3 col-md-offset-1">
        <h1>Jesse</h1>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <h1>Lloyd</h1>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <h1>Nick</h1>
    </div>
</div>

<div class="col-md-10 col-md-offset-1">
    <p class="text-center">This paragraph tells us things </p>
</div>


<div th:replace="/fragments/footer :: footer"></div>


<div th:replace="/fragments/javascript :: javascript"></div>
</body>
</html>