<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="/fragments/header :: header(${'About'})">
</head>
<body>

<!--Navbar-->
<div th:replace="/fragments/navbar :: navbar"></div>

<h1 class="center-align">About Us</h1>


<div class="col m12">
    <div class="row">
        <div class="col s12 m4">
            <div class="card hoverable">
                <div class="card-image">
                    <img class="responsive-img" th:src="@{../img/jesse.jpeg}" />
                    <a href="https://github.com/jessdavila3" target="_blank" class="btn-floating halfway-fab waves-effect waves-light green"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/jessedavila" target="_blank" class="btn-floating halfway-fab waves-effect waves-light blue"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Jesse Davila</span>
                    <p>I have interests ranging from cooking to music and those backgrounds influence how I work or approach a challenge. Because of that, I'm always interested in learning new things and honing my coding craft.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card hoverable">
                <div class="card-image">
                    <img class="responsive-img" th:src="@{../img/lloyd.jpeg}" />
                    <a href="https://github.com/lloydtheandroid" target="_blank" class="btn-floating halfway-fab waves-effect waves-light green"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/lloydhgarrison" target="_blank" class="btn-floating halfway-fab waves-effect waves-light blue"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Lloyd Garrison</span>
                    <p>I am a well rounded professional with several years experience in information technology and cyber security.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card hoverable">
                <div class="card-image">
                    <img class="responsive-img" th:src="@{../img/nick.jpeg}" />
                    <a href="https://github.com/Geist732" target="_blank" class="btn-floating halfway-fab waves-effect waves-light green"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/nicholas-balderas" target="_blank" class="btn-floating halfway-fab waves-effect waves-light blue"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Nicholas Balderas</span>
                    <p>I like to learn new things, have those things teach me more about myself and others, and be challenged to think differently to solve complex problems.</p>
                </div>
            </div>
        </div>
    </div>
</div>




<div th:replace="/fragments/footer :: footer"></div>


<div th:replace="/fragments/javascript :: javascript"></div>
</body>
</html>