<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="/fragments/header :: header(${'Login Page'})">
</head>
<body>

<!--Navbar-->
<div th:replace="/fragments/navbar :: navbar"></div>

<div id="loginTop" class="center-align">
    <h1>Login</h1>
    <div th:if="${param.error}">
        The username and password you entered does not exist. Please try again.
    </div>
    <div th:if="${param.logout}" >
        You have been logged out. Have a nice day!
    </div>
</div>

<div class="container">
    <form id="loginForm" th:action="@{/login}" method="post">
        <div class="row">
            <div class="row input-field col s8 m8 l8 offset-s2 offset-m2 offset-l2">
                <i class="material-icons prefix">person</i>
                <label for="username">Username</label>
                <input class="errorTxt1" type="text"  data-error=".errorTxt1"  id="username" name="username" />
                <div class="errorTxt1 valError"></div>
            </div>
            <div class="row input-field col s8 m8 l8 offset-s2 offset-m2 offset-l2">
                <i class="material-icons prefix">lock</i>
                <label for="password">Password</label>
                <input type="password" data-error=".errorTxt2" id="password" name="password" />
                <div class="errorTxt2 valError"></div>
            </div>
        </div>
        <div class="center-align">
            <button id="loginButton" type="submit" class="btn btn-info" value="Log In">Submit</button>
            <h6>Need an account? <a th:href="@{/create}">Sign-up</a></h6>
        </div>
    </form>
</div>


<div th:replace="/fragments/footer :: footer"></div>

<div th:replace="/fragments/javascript :: javascript"></div>
</body>
</html>