<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="/fragments/header :: header(${'Login Page'})">
</head>
<body>

<!--Navbar-->
<div th:replace="/fragments/navbar :: navbar"></div>

<h1>Login</h1>

<!--Login Form-->
<form class="col-md-10 col-md-offset-1">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" />
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>

<div class="col-md-10 col-md-offset-1">
    <h5 class="text-center">Need an account? <a>Sign-up</a></h5>
</div>

<div th:replace="/fragments/footer :: footer"></div>


<div th:replace="/fragments/javascript :: javascript"></div>
</body>
</html>