<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="/fragments/header :: header(${'Medly'})">
</head>
<body>

<!--Navbar-->
<div th:replace="/fragments/navbar :: navbar"></div>

<h1 class="center-align">Welcome to Medly</h1>

<!--image of doctor and patient-->
<div class="parallax-container" id="splashTopImage">
    <div class="parallax"><img id="imageSplashTop" th:src="@{../img/splash-top.jpg}" /></div>
</div>

<!--Div of testimony -->
<div id="testimonyContainer">
    <h3 class="center-align">
        "The management tool we've been looking for."
    </h3>
    <p class="center-align">Dr. Patel</p>
</div>

<!--Show off features-->
<div class="parallax-container" id="splashBottomImage">
    <div class="parallax"><img th:src="@{../img/splash-bottom.jpg}" /></div>

    <!--<div id="additionalFeatures" class="offset-s1 col s2">-->
        <!--<div id="heartDiv" class="circleFeature spaceBelow"><i class="fa fa-heart-o fa-4x centerIcon" aria-hidden="true"></i></div>-->
        <!--<div id="calendarDiv" class="circleFeature spaceBelow"><i class="fa fa-calendar-check-o fa-4x centerIcon" aria-hidden="true"></i></div>-->
        <!--<div id="reminderDiv" class="circleFeature"><i class="fa fa-bell-o fa-4x centerIcon" aria-hidden="true"></i></div>-->
    <!--</div>-->
    <!--<div id="moreInfo" class="panel panel-default col s2">-->
        <!--<div class="panel-body">-->
            <!--<p id="moreInfoDetail">-->

            <!--</p>-->
        <!--</div>-->
    <!--</div>-->

</div>

<!--Sign up-->
<div id="signupContainer" class="center-align">
    <h3>The tools you need to take back your health.</h3>
    <a  th:href="@{/create}"><button type="button" class="btn btn-info">Sign-up</button></a>
</div>

<!--Footer-->
<div th:replace="/fragments/footer :: footer"></div>

<div th:replace="/fragments/javascript :: javascript"></div>
</body>
</html>