<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="/fragments/header :: header(${'Medly'})">
</head>
<body>

<!--Navbar-->
<div th:replace="/fragments/navbar :: navbar"></div>

<h1>Welcome</h1>

<!--image of doctor and patient-->
<div id="splashImageContainer">
    <img class="img-responsive" th:src="@{../img/splash-top.jpg}" />
</div>

<!--Div of testimony -->
<div id="testimonyContainer">
    <h3 class="text-center">
        "The management tool we've been looking for."
    </h3>
    <p class="text-center">Dr. Patel</p>
</div>

<!--Show off features-->
<div id="featureShowoff">
    <img class="img-responsive" th:src="@{../img/splash-bottom.jpg}"/>
</div>

<!--Sign up-->
<div id="SP_sign-up col-md-12">
    <h3 class="text-center">The tools you need to take back your health.</h3>
    <button>Sign-up</button>
</div>

<!--Footer-->
<div th:replace="/fragments/footer :: footer"></div>

<div th:replace="/fragments/javascript :: javascript"></div>
</body>
</html>