<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="/fragments/header :: header(${'Medly'})">
</head>
<body>

<!--Navbar-->
<div th:replace="/fragments/navbar :: navbar"></div>

<div id="homeTitle">
    <h1 class="center-align">Welcome to Medly</h1>
    <h5 class="center-align">Medication Management Never Looked So Good.</h5>
</div>

<!--image of doctor and patient-->
<div class="parallax-container" id="splashTopImage">
    <div class="parallax"><img id="imageSplashTop" class="responsive-img" th:src="@{../img/family_smiling.jpg}" /></div>
</div>

<!--Show off features-->
<div id="additionalFeatures" class="col s12">
    <div id="heartDiv" class="circleFeature tooltipped" data-position="top" data-delay="50" data-tooltip="Your health is important to us."><i class="fa fa-heart-o fa-5x centerIcon" aria-hidden="true"></i></div>
    <div id="calendarDiv" class="circleFeature tooltipped" data-position="bottom" data-delay="50" data-tooltip="Add reminders, to help you keep track of important events."><i class="fa fa-calendar-check-o fa-5x centerIcon" aria-hidden="true"></i></div>
    <div id="reminderDiv" class="circleFeature tooltipped" data-position="top" data-delay="50" data-tooltip="Get text-messaging alerts to notify you."><i class="fa fa-bell-o fa-5x centerIcon" aria-hidden="true"></i></div>
    <div id="moreInfo "></div>
</div>

<!--Show off features-->
<div class="parallax-container" id="splashBottomImage">
    <div class="parallax"><img class="responsive-img" th:src="@{../img/coupleUsingComputer.jpg}" /></div>
</div>

<!--Sign up-->
<div id="signupContainer" class="center-align">
    <h3>The tools you need to take back your health.</h3>
    <a  th:href="@{/create}"><button type="button" class="btn btn-info">Sign-up</button></a>
</div>

<!--Footer-->
<div th:replace="/fragments/footer :: footer"></div>

<div th:replace="/fragments/javascript :: javascript"></div>
</body>
</html>