<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="/fragments/header :: header(${'Dashboard'})">
</head>
<body>

<!--Navbar-->
<div th:replace="/fragments/navbar :: navbar"></div>

<h1 class="center-align spaceBelow" id="greeting"></h1>

<!--If patient is logged in -->
<div sec:authorize="hasRole('PATIENT')">

    <div class="row">
        <div th:replace="/fragments/alertsCard :: alertsCard"></div>

        <div th:replace="/fragments/medicationCard :: medicationCard"></div>

        <div th:replace="/fragments/upcomingCard :: upcomingCard"></div>
    </div>

    <div th:replace="/fragments/medicationForms :: medicationForms"></div>

    <div th:replace="/fragments/appointmentForms :: appointmentForms"></div>

    <div th:replace="/fragments/reminderForms :: reminderForms"></div>



</div>


<!--If Doctor Logged in-->
<div sec:authorize="hasRole('DOCTOR')">

    <div th:replace="/fragments/doctorAlertsCard :: doctorAlertsCard"></div>

    <div th:replace="/fragments/doctorMedicationCard :: doctorMedicationCard"></div>
</div>




<div th:replace="/fragments/footer :: footer"></div>
<div th:replace="/fragments/javascript :: javascript"></div>
</body>
</html>