<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="/fragments/header :: header(${'Settings'})">
</head>
<body>

<!--Navbar-->
<div th:replace="/fragments/navbar :: navbar"></div>

<h1 class="text-center">Profile</h1>

<div class="col-md-10 col-md-offset-1">

    <div class="col-md-10 col-md-offset-1">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#editLoginCred">Login Information</button>
    </div>
    <div class="col-md-10 col-md-offset-1">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#editUserSettings">Personal Information</button>
    </div>

    <div th:replace="/fragments/editUserDetailsForm :: editUserDetailsForm"></div>

    <div th:replace="/fragments/editLoginCredForm :: editLoginCredForm"></div>



</div>





<div th:replace="/fragments/footer :: footer"></div>


<div th:replace="/fragments/javascript :: javascript"></div>
</body>
</html>