<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="/fragments/header :: header(${'Settings'})">
</head>
<body>

<!--Navbar-->
<div th:replace="/fragments/navbar :: navbar"></div>

<h1 class="center-align">Profile</h1>

<div class="col m6 offset-3 row">

    <button data-target="editUserDetails" class="btn btn-floating btn-large waves-effect waves-light"><i class="addButton material-icons">assignment_ind</i></button>

    <!--<div class="col m4">-->
        <!--<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#editLoginCred">Login Information</button>-->
    <!--</div>-->
    <!--<div class="col m4">-->
        <!--<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#editUserSettings">Personal Information</button>-->
    <!--</div>-->

    <div th:replace="/fragments/editUserDetailsForm :: editUserDetailsForm"></div>




</div>





<div th:replace="/fragments/footer :: footer"></div>


<div th:replace="/fragments/javascript :: javascript"></div>
</body>
</html>